
h1 {
    text-align: center;
}
.flexy {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    
    

}
.flexy div{
    height: 50px;
    width: 250px;
    color: white;
    text-align: center;
    font-size: 1.5em;

}